* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: #555;
    background-color: #f6f6f6;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

h1 {
    font-family: 'Monoton', cursive;
    font-size: 400%;
    margin: 0;
    padding-bottom: 15px;
}

h2 {
    margin: 60px 0 120px 0;
    font-size: 200%;
    font-weight: 400;
    text-align: center;
}

h1, h2, h3 {
    color: #d4af37;
}

h3 {
    text-transform: uppercase;
}

a:link, a:visited {
    color: #d4af37;
}

a:hover, a:active, a:focus {
    text-decoration: none;
    color: #a48623;
}

section {
    padding: 140px 120px 0 120px;
    width: 100%;
}

.wave-box {
    position: relative;
    width: 100%;
    height: 0;
}

.wave-top {
    position: absolute;
    width: 100%;
    top: -1px;
}

.wave-bottom {
    position: absolute;
    width: 100%;
    bottom: -1px;
}

.background-wave {
    z-index: -10;
}

/* ---- BUTTONS ---- */

.btn {
    padding: 10px 20px;
    font-weight: 300;
    border-radius: 200px;
    background-color: #d4af37;
    border: 1px solid #d4af37;
    font-size: 80%;
    text-transform: uppercase;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn:link, .btn:visited, input[type=submit] {
    color: #555;
}

.btn:hover, .btn:active, input[type=submit]:hover, input[type=submit]:active  {
    background-color: #b29126;
    border: 1px solid #b29126;
    color: #fff;
}

/* ---- HEADER ---- */

header {
    position: relative;
    height: auto;
    padding-top: 30px;
    text-align: center;
    background-color: #333333;
}

nav ul {
    list-style: none;
    margin-bottom: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 1vw;
}

nav a:link, a:visited {
    text-transform: uppercase;
    font-size: 1.8vw;
}

.upload-icon {
    position: absolute;
    top: 50px;
    right: 50px;
    font-size: 50px;
}

.drop-menu-icon {
    display: none;
}

.sticky {
    width: 100%;
    z-index: 10;
    position: fixed;
    top: 0;
    background-color: #fff;
    opacity: 0.95;
    border-bottom: solid 2px #d4af37;
    padding: 20px 0;
}

.hover-box {
    transition: background-color 0.2s, transform 0.2s, box-shadow 0.2s;
}

.hover-box:hover {
    transform: scale(1.02);
    box-shadow: 0 10px 10px #dbdbdb;
}

.dark-hover:hover {
    transform: scale(1.02);
    box-shadow: 0 10px 10px #141414;
}

/* ---- POSTS ---- */

.section-posts {
    -webkit-mask-image: linear-gradient(transparent 0%, black 5%,  black 95%, transparent 100%);
    mask-image: linear-gradient(transparent 0%, black 5%,  black 95%, transparent 100%);
    max-height: 1000px;
    margin: 200px 10%;
    padding: 0 20px 100px 0;
    overflow-y: scroll;
    width: 80%;
}

.post-box {
    background-color: #fff;
    padding: 60px;
    border-radius: 30px;
    margin: 30px 0;
    box-shadow: 0 3px 3px #e6e6e6;
}

.publish-label {
    font-size: 70%;
    display: inline-block;
}

/* ---- POST-DETAIL ---- */

.post-detail-box {
    padding: 60px 0;
}

.post-edit-button {
    float: right;
}

.post-edit-button:link, .post-edit-button:visited {
    padding: 15px;
}


/* ---- PROJECTS ---- */

.projects-intro {
    background-color: #d4af37;
    padding: 0px 120px 60px 120px;
}

.projects-intro h1 {
    color: #fff;
}

.project-image-box {
    display: block;
    float: left;
    width: 32%;
    margin-right: 2%;
    height: 23vw;
}

.project-image {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.end-box {
    margin-right: 0%;
}

.project-info-box {
    float: none;
    width: 100%;
    text-align: center;
    margin-top: 60px;
    padding-bottom: 60px;
}

.project-info-box p {
    margin: 0 0 30px 0;
}

.project-info-box p:last-of-type {
    margin: 0;
}

.project-info-box span {
    color: #333333;
    font-weight: 400;
    border-bottom: solid 1px #d4af37;
}

.project-video {
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.project-video-box {
    position: relative;
    height: 0;
    overflow: hidden;
}

.vid1 {
    padding-bottom: 70%;
}

.vid2 {
    padding-bottom: 82.1875%;
}

.project-video-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
}

.project-video-box iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* ---- GAME-PROJECT ---- */

.section-game-project {
    background-color: #fff;
}

/* ---- APP-PROJECT ---- */

.section-app-project {
    background-color: #333333;
    color: #fff;
}

/* ---- WEBSITE-PROJECT ---- */

.section-website-project {
    background-color: #fff;
}

.section-end h2 {
    padding: 120px 0;
}

/* ---- DROPDOWN-CONTENT ---- */

.dropdown-box {
    width: 100%;
    height: auto;
    padding: 20px 40px;
    border-radius: 10px;
    background-color: #f6f6f6;
    box-shadow: 0 10px 10px #dbdbdb;
    position: relative;
    color: #333333;
}

.dropdown-margin {
    height: 60px;
}

.dark-dropdown {
    box-shadow: 0 10px 10px #141414;
}

.dropdown-content {
    display: none;
}

.dropdown-label {
    line-height: 60px;
    margin-bottom: 0;
    display: inline;
}

.dropdown-icon {
    float: right;
    color: #d4af37;
    font-size: 60px;
    pointer-events: none;
}

.dropdown-click-box {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100px;
}

.dropdown-click-box:hover {
    cursor: pointer;
}

@media only screen and (max-width: 450px) {

    body {
        font-size: 18px;
    }
    h1 {
        font-size: 200%;
        padding: 0;
        line-height: 50px;
    }

    h2 {
        margin: 30px 0;
        font-size: 120%;
    }

    h3 {
        margin-top: 0px;
        font-size: 100%;
    }

    section {
        padding: 40px 15px 0 15px;
        width: 100%;
    }

    .main-header {
        position: relative;
        height: 50px;
    }

    .mobile-menu-icon {
        position: absolute;
        color: #d4af37;
        top: 0px;
        height: 50px;
        width: 50px;
    }

    .drop-menu-icon {
        right: 20px;
        display: block;
    }

    .upload-icon {
        left: 20px;
    }

    nav ul {
        display: none;
    }

    nav ul li {
        margin: 0 0.5vw;
        height: 50px;
        display: block;
        border-bottom: solid 1px #555;
        position: relative;
    }

    nav a:link, a:visited {
        font-weight: 400;
        position: absolute;
        top: 0;
        font-size: 100%;
        display: block;
        width: 100%;
        line-height: 20px;
        padding: 15px 0;
    }
    .sticky {
        background-color: #333333;
    }

    .hover-box:hover {
        transform: scale(1.0);
        box-shadow: 0 0 0 #000;
    }

    .section-posts {
        width: 90%;
        margin: 60px 5%;
        padding-bottom: 30px;
        padding-right: 10px;
    }

    .post-box {
        padding: 10px;
        width: 100%;
        border-radius: 15px;
    }

    .projects-intro {
        padding: 0px 30px 30px 30px;
    }

    .project-info-box {
        float: none;
        width: 100%;
        text-align: none;
        margin-top: 30px;
        padding-bottom: 30px;
    }

    .project-info-box p {
        margin: 0 0 15px 0;
    }

    .project-image {
        border-radius: 5px;
    }

    .dropdown-box {
        padding: 20px 20px;
    }

    .dropdown-icon {
        height: 60px;
        font-size: 30px;
    }
}







